.container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
}

.link {
  color: var(--bg-color);
}

.download {
  text-align: center;
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  color: white;
}
.download:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.download > svg path {
  stroke: var(--bg-color);
}
