.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  text-transform: uppercase;
  font-weight: bold;
  height: 40px;
  padding: 0 30px;
  border-radius: 5px;
  cursor: pointer;

  background-color: var(--primary-color);
  color: var(--font-color);
}

@media screen and (max-width: 760px) {
  .container {
    height: 20px;
    padding: 0 20px;
    font-size: 12px;
  }
}
