* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* how to change color of the panels with mode toggle if max-width is set? */

body {
  /* max-width: 1280px; */
  width: 100%;
  overflow-x: hidden;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: rgb(58, 58, 58);
}

.dark {
  background-color: rgb(31, 31, 31);
  color: rgb(218, 218, 218);
}

/* reset.css fix */
input[type='checkbox'] {
  appearance: auto;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

h1 {
  color: #ff0909;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
}

/* h2 color will be fixes as mainPhoto will be choosed */

h2 {
  color: rgb(231, 231, 231);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

/* h3{

} */

/* h4{
  
} */

section {
  margin-top: 20px;
}
