:root {
  --primary-color: #ffffff;
  --secondary-color: #ffb743;
  --font-color: #000000;
  --bg-color: #f8f7fa;
  --heading-color: #000000;
}

[data-theme='dark'] {
  --primary-color: #000000;
  --secondary-color: #ffb743;
  --font-color: #ffffff;
  --bg-color: #000000;
  --heading-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
}

/* how to change color of the panels with mode toggle if max-width is set? */

body {
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

main {
  max-width: 1024px;
  width: 100vw;
}

/* reset.css fix */
input[type='checkbox'] {
  appearance: auto;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

h1 {
  color: var(--heading-color);
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
}

/* h2 color will be fixes as mainPhoto will be choosed */

h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

/* h3{

} */

/* h4{
  
} */

section {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  main {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }
}
