.header {
  width: 100%;
}

.welcomeContainer {
  height: 600px;
  position: relative;
}

.imgContainer {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

/* fix this line (filter styling needs to be changed) */
/* .mainPhoto {
  object-fit: cover;
  z-index: 0;
  filter: blur(3px) brightness(0.4); 
} */

.titleContainer {
  display: flex;
  z-index: 2;
}

.desc {
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}

.footer {
  width: 100%;
}
