.wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: var(--bg-color);
  color: (--font-color)
}

.divider{
  height: 2px;
  width: 100%;
}

.container{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.logo_img {
  width: 200px;
  height: 70px;
  object-fit: cover;
}

.nav{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap:20px;
  row-gap: 5px;
}

.link{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s ease;
}

.link:hover{
  color: var(--heading-color)
}

.instagram{
  position: relative;
}

.photoContainer{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.img{
  object-fit: cover;
}