.wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: var(--bg-color);
  color: (--font-color);
}

.divider {
  height: 2px;
  background-color: var(--heading-color);
  width: 100%;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.logo_img {
  width: 200px;
  height: 70px;
  object-fit: cover;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  height: 150px;
  row-gap: 5px;
}

.link {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--font-color);
  transition: 0.5s ease;
}

.link:hover {
  color: var(--secondary-color);
}

.facebook {
  position: relative;
}

.facebook > h2 {
  color: var(--heading-color);
}

.photoContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  position: relative;
}

.img {
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .logo_img {
    width: 100px;
    height: 40px;
  }

  .nav {
    column-gap: 10px;
  }

  .link {
    font-size: 12px;
  }

  .container {
    align-items: center;
    flex-direction: column;
  }
}
