.container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.background {
  display: flex;
  background-color: var(--heading-color);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.textContainer {
  max-width: 400px;
}
.name {
  font-size: 20px;
  font-weight: bold;
}

.desc {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column !important;
    margin: 20px 0;
  }

  .background {
    height: 200px;
    width: 200px;
  }

  .textContainer {
    max-width: 200px;
  }

  .name {
    font-size: 15px;
  }

  .desc {
    font-size: 12px;
  }
}
