.menuTrigger {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: var(--primary-color);
  border-radius: 2px;
  padding: 10px 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownMenu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--primary-color);
  transform: rotate(45deg);
}

.dropdownMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdownMenu ul li {
  cursor: pointer;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdownItem,
.dropdownItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
}

.dropdownItem:hover a,
.dropdownItem:hover {
  color: var(--secondary-color);
}

.dropdownActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdownInactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}
