.keen-slider {
  margin: 30px 0px;
}

[class^='number-slide'],
[class*=' number-slide'] {
  min-height: 300px;
  min-width: 400px;
  max-height: 100vh;
  object-fit: cover;
}

.keen-slider__slide {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1024px) {
  [class^='number-slide'],
  [class*=' number-slide'] {
    height: 200px;
    width: 300px;
  }
}

@media screen and (max-width: 740px) {
  [class^='number-slide'],
  [class*=' number-slide'] {
    min-height: 200px;
    min-width: 300px;
  }
}
